@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
Container{
    background: snow;
}
.back{
    background: white;
}
.heads{
    font-family: 'Roboto Slab', serif;
}
.titles{
    font-family: 'Langar', cursive;
    font-size: 40px;
}
